*{
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
    *::before,
    *::after {
        box-sizing: border-box;
    }

a, a:link, a:visited  {
        text-decoration: none;
    }
    
body{
    background-color: black;
    margin: 0;
    font-size: 17px;
    font-family: "MadouFutoMaruGothic", sans-serif;
}

.header__logo{
    display: inline-block;
    max-width: 100%;
    width: 700px;
}

.information {
    color: #fff;
    top: 14px;
    right: 14px;
    position: fixed;
}